
.header{
    background-color: #F4EAE4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.header h1{
    color: #000000;
    size: 64px;
    font-weight: 540;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.header ul li{
    margin: 20px;
    color: #000000;
}

.header ul li a{
    color: #000000;
}

.header button{
    width: 150px;
    height: 50px;
    background-color: white;
}

.section1{
    background-color: #F4EAE4;
    display: flex;
    padding-top: 40px;
}

.section1 img {
    background-color: #F4EAE4;
    width: 650px;
    height: 503px;
    border-radius: 320px 320px 0px 0px;
}

.section1-left{
    padding-top: 0;
    padding-left: 70px;
    padding-right: 50px;
}

.section1-left h1{
    margin-bottom: 40px;
    size:64px;
    color: #000000;
    font-weight: 540;
}

.section1-left p{
    margin-bottom: 40px;
    color: #000000;
    size: 24px;
}

.section1-left .left-button{
    display: flex;
    margin-bottom: 80px;
}

.left-button button{
    margin-right: 10px;
    width: 150px;
    height: 50px;
}

.btn1{
    background-color: black;
    color: white;
}

.btn2{
    background-color: white;
    color: black;
}

.btn0:hover{
    background-color: black;
    color: white;
}

.btn1:hover{
    background-color: white;
    color: black;
}

.btn2:hover{
    background-color: black;
    color: white;
}

.hour{
    display: flex;
    justify-content: center;
}

.hour img {
    margin-top: 4px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 350px 350px 350px 350px;
}

.hour p{
    font-size: 13px;
}

.section2{
    padding-top: 70px;
    padding-left: 70px;
    height: 635px;
    background-color: #4C4B48;
    color: white;
}

.section2 h1{
    margin-bottom: 20px;
    color: white;
    size: 64px;
    font-weight: 540;
}

.section2 p{
    margin-bottom: 20px;
    color: white;
}

.section2 .Carousel2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .Carousel2 .carousel-element{
    background-color: transparent;
    margin-right: 40px;
    width: 35%;
    margin-top: 40px;
}

.carousel-element .carousel-element-bottom1 {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: #DE8B88;
    padding-left: 30px;
    padding-right: 30px;
}
.carousel-element .carousel-element-bottom2 {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: #B0B07B;
    padding-left: 30px;
    padding-right: 30px;
}
.carousel-element .carousel-element-bottom3 {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: #DEA888;
    padding-left: 30px;
    padding-right: 30px;
}
.carousel-element .carousel-element-bottom4 {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: #B0B07B;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-element img{
    width: 100%;
    height: 300px;
    border-radius: 200px 200px 0 0;
    background-color: #4C4B48;
}

.carousel-element h3{
    margin-bottom: 50px;
    color: white;
}

.carousel-element p{
    margin-left: 0px;
    margin-right: 0px;
}

.section3{
    padding-left: 70px;
    background-color: #F4EAE4;
    padding-top: 400px;
    display: flex;
}

.section3-bottom{
    width: 90%;
    background-color: rgba(175, 34, 34, 0.664);
    padding-left: 80px;
    padding-top: 80px;
    display: flex;
}

.section3-bottom .image{
    padding-left: 160px;
    position: relative;
}

.section3-bottom .image img{
    width: 400px;
    height: 350px;
    border-radius: 300px 300px 0 0;
    position: absolute;
    bottom: 0;
}

.text .text1{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.text .text1 h1{
    color: #F4F5F5;
    margin-right: 20px;
}

.text .text1 h2{
    color: #F4F5F5;
}

.text .texte2{
    margin-bottom: 0px;
}

.text .texte2 h2{
    margin-bottom: 40px;
    color: #F4F5F5;
}

.text .texte2 h3{
    color: #F4F5F5;
}

.end p{
    color: #F4F5F5;
    margin-bottom: 40px;
    font-size: 18px;
}


.section4{
    padding-left: 70px;
    padding-top: 100px;
    background-color: #B0B07B;
    height: 450px;
}

.section4 h1{
    color: white;
    margin-bottom: 50px;
}

.section4 .section4-bottom{
    display: flex;
    padding-right: 100px;
}

.section4 .section4-bottom .video{
    margin-right: 40px;
    background-color: white;
}

.section4 .video img{
    width: 700px;
    height: 350px;
    opacity: 0.3;
}

.section4 .section4-bottom p{
    color: white;
}

.section5{
    padding-top: 250px;
    background-color: #F4EAE4;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.section5 h1{
    color: black;
    margin-bottom: 50px;
}

.section5 button{
    margin-bottom: 0px;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
}

.section5 button:hover{
    background-color: white;
    color: black;
}

.section5 .section5-bottom{
    padding-top: 40px;
    display: flex;
    align-items: center;

}

.section5 .section5-bottom img{
    width: 500px;
    height: 400px;
    border-radius: 350px 350px 0 0;
}

.section5 .section5-bottom .text{
    padding-left: 140px;
}

.section5 .section5-bottom h2{
    color:black;
    margin-bottom: 20px;
}

.section5 .section5-bottom p{
    color: black;
    margin-bottom: 30px;
}

.section5 .section5-bottom .line {
    opacity: 0.1;
}


.section6{
    padding-left: 70px;
    padding-top: 100px;
    background-color: #DEA888;
    height: 500px;
}

.section6 h1{
    color: white;
    margin-bottom: 50px;
}

.section6 .section6-bottom{
    display: flex;
    padding-right: 100px;
}

.section6 .section6-bottom .video{
    margin-right: 40px;
    background-color: white;
}

.section6 .video img{
    width: 700px;
    height: 350px;
    opacity: 0.3;
}

.section6 .section6-bottom p{
    color: white;
}

.section6-button1 button:hover{
    background-color: black;
    color: white;
}

.section6-button1 button{
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
}

.section7 {
    padding-top: 200px;
    padding-left: 70px;
    padding-bottom: 40px;
    padding-right: 70px;
    background-color: #F4EAE4;
}

.section7 h1{
    margin-bottom: 20px;
    color: black;
}

.section7 .no-slide{
    display: flex;
    padding-left: 70px;
    margin-bottom: 50px;
}

.section7 button:hover{
    background-color: black;
    color: white;
}

.section7 .boutton-du-bas{
    display: flex;
    justify-content: center;
}

.section7 .boutton-du-bas button{
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
}

.section7 .carousel-element1{
    background-color: transparent;
    margin-right: 40px;
    width: 35%;
    margin-top: 40px;
}

.section7 .carousel-element1 .carousel-element-bottom1 {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: transparent;
}
.section7 .carousel-element1 .carousel-element-bottom2 {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: transparent;
}
.section7 .carousel-element1 .carousel-element-bottom3 {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: transparent;
}

.section7 .carousel-element1 img{
    width: 100%;
    height: 300px;
    border-radius: 200px 200px 0 0;
    background-color: transparent;
}

.section7 .carousel-element1 p{
    color: black;
}

.section7 .carousel-element1 .date{
    margin-bottom: 40px;
    font-size: 18px;
}

.section8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: black;
}

.section8 h1{
    color: white;
    margin-bottom: 40px;
}

.section8 p{
    color: white;
    margin-bottom: 30px;
}

.section8 button{
    width: 150px;
    height: 50px;
    color: black;
    background-color: white;
}

.section8 button:hover{
    color: black;
    background-color: #F4EAE4;
}



/* Pour le footer*/

footer {
    background-color: #4C4B48;
    padding-top: 140px;
    padding-left: 70px;
    padding-bottom: 30px; 
}

footer h1{
    color: white;
    margin-bottom: 70px;
}

footer .myfooter {
    display: flex;
}

footer .myfooter .col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    margin-right: 200px;
}

footer .myfooter .col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    margin-right: 100px;
}

footer .myfooter .col3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

footer .myfooter h4{
    color: white;
    margin-bottom: 35px;
}

footer .myfooter h2{
    color: white;
    margin-bottom: 30px;
}

footer .myfooter .soummission{
    display: flex;
    align-items: center;
}

.soummission input{
    width: 350px;
    height: 50px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding-left: 30px;
    margin-bottom: 30px;
}

.soummission button{
    width: 150px;
    height: 50px;
    color: black;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 30px;
}

.soummission button:hover{
    color: white;
    background-color: black;
}

footer .myfooter p{
    color: white;
    margin-bottom: 30px;
}

footer .follow{
    display: flex;
    align-items: center;
}

footer .ligne{
    margin-top: 200px;
    opacity: 0.4;
}

footer .follow .icon{
    margin-right: 380px;
    margin-top: 20px;
}

footer .follow p{
    color: white;
}

footer .follow i{
    margin-right: 30px;
    color: white;
}

footer .follow i:hover{
    color: white;
}

/* Fin du footer*/